<main class="pg-main">
  <div class="pg-main-content">
    <div class="pg-main-body">
      <div class="pg-main-us-description">
        <div class="pg-main-us-content">
          <h2 class="pg-main-us-title">Nosotros</h2>
          <p>Asclepio es un consultorio médico que brinda atención integral a
            pacientes de todas las edades. Nuestro equipo de proveedores
            experimentados y compasivos se dedica a brindar atención de alta
            calidad que satisfaga las necesidades individuales de cada paciente.</p>
        </div>
        <img src="/public/images/us.jpg" alt="" />
      </div>
      <div class="separator"></div>
      <div class="pg-main-us-description">
        <div class="pg-main-us-content">
          <h2 class="pg-main-us-title">Misión</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            accumsan pretium fringilla. Pellentesque hendrerit efficitur enim,
            vitae maximus tortor varius sit amet. Integer faucibus sagittis
            ligula, et venenatis erat tincidunt vitae. Fusce eget maximus odio.
            Vestibulum convallis ultrices velit a auctor.
          </p>
        </div>
        <div class="pg-main-us-content">
          <h2 class="pg-main-us-title">Visión</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            accumsan pretium fringilla. Pellentesque hendrerit efficitur enim,
            vitae maximus tortor varius sit amet. Integer faucibus sagittis
            ligula, et venenatis erat tincidunt vitae. Fusce eget maximus odio.
            Vestibulum convallis ultrices velit a auctor.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>