<div class="pg-banner-view-container" id="banner-container"></div>
<main class="pg-main">
  <div class="pg-main-content">
    <div class="pg-main-content-presentation" id="presentation">
      <div class="pg-main-content-description">
        <div class="pg-main-description-subtitle">Bienvenido a Asclepo</div>
        <h1 class="pg-main-description-title">Unidad médica de calidad</h1>
        <p class="pg-main-description-content">
          Está abierto a todos todos los días y brinda atención primaria de
          salud y medicina de vanguardia en una ubicación central.
        </p>
        <div class="pg-main-description-actions-buttons">
          <button class="pg-main-view-more" id="more">Saber mas</button>
          <a href="/calendar" class="pg-main-schedule">Agendar cita </a>
        </div>
      </div>
      <img
        class="pg-main-banner-person"
        src="/public/images/doc.png"
        alt=""
        id="banner-person"
      />
    </div>

    <div class="pg-main-info-container" id="info-container">
      <div class="pg-main-info-section">
        <div class="pg-main-info-logo-wrapper">
          <div class="img">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 38 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M33.8948 34.8726V28.3062C33.8948 25.7625 31.8557 23.6929 29.3496 23.6929H29.2767C26.7705 23.6929 24.7315 25.7625 24.7315 28.3062V37.6861C24.7315 40.6814 22.3304 43.1173 19.3794 43.1173H19.2521C16.3011 43.1173 13.9012 40.6801 13.9012 37.6861V25.5329C19.3819 25.0538 23.6996 20.3739 23.6996 14.6881V5.89781C24.8897 5.50145 25.7523 4.36378 25.7523 3.02417C25.7523 1.35717 24.4164 0 22.7728 0C21.1292 0 19.7934 1.35717 19.7934 3.02417C19.7934 4.36378 20.6559 5.50145 21.846 5.89781V14.6893C21.846 19.6539 17.8668 23.6941 12.9744 23.6941H12.7767C7.88546 23.6941 3.90628 19.6552 3.90628 14.6893V5.89781C5.09633 5.50145 5.95889 4.36378 5.95889 3.02417C5.95889 1.35717 4.62302 0 2.97945 0C1.33587 0 0 1.35717 0 3.02417C0 4.36378 0.862569 5.50145 2.05262 5.89781V14.6893C2.05262 20.4429 6.47298 25.1679 12.0488 25.5493V37.6861C12.0488 41.7187 15.2803 44.9987 19.2533 44.9987H19.3806C23.3536 44.9987 26.5852 41.7187 26.5852 37.6861V28.3062C26.5852 26.7998 27.7925 25.5743 29.2767 25.5743H29.3496C30.8338 25.5743 32.0411 26.7998 32.0411 28.3062V34.8726C29.708 35.3154 27.9359 37.3976 27.9359 39.8924C27.9359 42.7084 30.1936 45 32.9679 45C35.7422 45 38 42.7084 38 39.8924C38 37.3976 36.2279 35.3154 33.8948 34.8726ZM22.7728 1.88148C23.3932 1.88148 23.8986 2.3945 23.8986 3.02417C23.8986 3.65384 23.3932 4.16685 22.7728 4.16685C22.1525 4.16685 21.647 3.65384 21.647 3.02417C21.647 2.3945 22.1525 1.88148 22.7728 1.88148ZM2.97945 1.88148C3.5998 1.88148 4.10524 2.3945 4.10524 3.02417C4.10524 3.65384 3.5998 4.16685 2.97945 4.16685C2.35909 4.16685 1.85366 3.65384 1.85366 3.02417C1.85366 2.3945 2.35909 1.88148 2.97945 1.88148ZM32.9679 43.1185C31.2156 43.1185 29.7895 41.671 29.7895 39.8924C29.7895 38.1138 31.2156 36.6663 32.9679 36.6663C34.7203 36.6663 36.1463 38.1138 36.1463 39.8924C36.1463 41.671 34.7203 43.1185 32.9679 43.1185Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="pg-main-info-content">
          <h2 class="pg-main-info-title">Nuestros doctores</h2>
          <p class="pg-main-info-description">
            Una vez que la familia ha tomado una decisión, el equipo informa a
            las partes pertinentes.
          </p>
        </div>
      </div>
      <div class="pg-main-info-section">
        <div class="pg-main-info-logo-wrapper">
          <div class="img">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 27 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.90169 0.599532C4.14564 0.545916 4.39763 0.588809 4.60673 0.725528C5.03833 0.996285 5.17237 1.61822 4.91502 2.02302C4.7354 2.33131 4.28235 3.19183 3.92313 4.49736L3.75425 5.1059H24.0584L23.8895 4.49468C23.4606 2.96397 22.903 2.06591 22.8761 2.0257C22.6027 1.58337 22.7367 0.998966 23.1791 0.720166C23.5919 0.460132 24.2085 0.570043 24.4926 1.02309C24.565 1.14373 31.6154 13.3385 15.8874 25.5467L15.4209 25.9086L15.8713 26.2893C16.6782 26.9836 17.4556 27.7048 18.1848 28.4339C29.4762 39.7333 26.7472 51.0837 26.6239 51.5609C26.5193 51.9818 26.1386 52.2766 25.7151 52.2713C25.6427 52.2766 25.565 52.2632 25.4577 52.2418C25.0449 52.1372 24.683 51.5234 24.7875 51.0944C24.8385 50.8853 25.0905 49.7567 25.1012 47.9955L25.1039 47.5129L2.68194 47.5156L2.68462 48.0008C2.7007 49.7674 2.95002 50.8826 2.99827 51.0864C3.12695 51.5984 2.81866 52.1212 2.31467 52.2525C2.23961 52.2713 2.16187 52.2793 2.07609 52.2793C1.84554 52.2766 1.59355 52.1641 1.40589 51.9764C1.28258 51.8531 1.20216 51.711 1.16463 51.5689C1.02791 51.0301 -2.05229 38.2562 11.9252 26.3027L12.3729 25.9194L11.9065 25.5575C10.5982 24.5468 9.39726 23.4933 8.33031 22.4263C-2.85384 11.2368 3.23686 1.13032 3.3012 1.02577C3.43523 0.808631 3.65237 0.658508 3.90169 0.599532ZM5.0839 37.8488C4.07594 39.929 3.37358 42.0844 3.00095 44.2209L2.88568 45.7168L24.9457 45.6793L24.7929 44.2638C24.4203 42.0924 23.7179 39.9344 22.6965 37.83L22.3373 36.8998L5.53159 36.948L5.0839 37.8488ZM7.27945 34.1332L6.75134 34.8865H21.0318L20.5037 34.1305C18.8577 31.7715 16.6863 29.4392 14.2012 27.3697L13.8902 27.115L13.5846 27.3723C11.0781 29.458 8.95761 31.7313 7.27945 34.1332ZM7.77539 18.9896C9.31683 20.8822 11.2792 22.7319 13.6007 24.4744L13.8902 24.6889L14.1771 24.4744C16.512 22.7212 18.4824 20.8742 20.0292 18.9869L21.08 17.7001L6.66824 17.7269L7.77539 18.9896ZM3.45132 8.27188C3.48885 10.6176 4.10542 12.9632 5.26352 15.2151L5.63614 15.7378L22.2408 15.8048L22.5303 15.2526C23.7259 12.9605 24.3452 10.6176 24.3774 8.27724L24.4042 7.31753L3.55855 7.16473L3.45132 8.27188Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="pg-main-info-content">
          <h2 class="pg-main-info-title">Fundación Salud</h2>
          <p class="pg-main-info-description">
            El equipo de profesionales médicos está capacitado para brindarle
            atención y apoyo.
          </p>
        </div>
      </div>
      <div class="pg-main-info-section">
        <div class="pg-main-info-logo-wrapper">
          <div class="img">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 48 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M45.7725 7.65408H37.1484V4.61552C37.1484 2.16194 35.1403 0.166656 32.6709 0.166656H15.2803C12.8119 0.166656 10.8028 2.16194 10.8028 4.61552V7.65408H2.2275C0.999375 7.65408 0 8.64707 0 9.86734V38.6201C0 39.8403 0.999375 40.8333 2.2275 40.8333H45.7725C47.0006 40.8333 48 39.8403 48 38.6201V9.86734C48 8.64707 47.0006 7.65408 45.7725 7.65408ZM12.225 4.61552C12.225 2.94161 13.5956 1.57975 15.2803 1.57975H32.6709C34.3556 1.57975 35.7262 2.94161 35.7262 4.61552V7.63639H33.5034V4.61552C33.5034 4.16747 33.1219 3.78834 32.6709 3.78834H15.2803C14.8294 3.78834 14.4478 4.16747 14.4478 4.61552V7.63639H12.225V4.61552ZM32.0822 5.20144V7.65408H15.87V5.20144H32.0822ZM1.42219 9.86734C1.42219 9.42581 1.78406 9.06625 2.22844 9.06625H6.69375C6.3675 11.7983 4.17562 13.9678 1.42219 14.2799C1.42219 14.2799 1.42219 9.86734 1.42219 9.86734ZM2.2275 39.4202C1.78313 39.4202 1.42125 39.0607 1.42125 38.6191V34.1069C4.19531 34.4339 6.39563 36.649 6.67781 39.4193H2.2275V39.4202ZM46.5778 38.6201C46.5778 39.0616 46.2159 39.4212 45.7716 39.4212H40.9641C41.2584 36.5326 43.6359 34.2476 46.5769 34.0762L46.5778 38.6201ZM46.5778 32.6612C42.8531 32.8364 39.84 35.7529 39.5391 39.4212H8.10375C7.81219 35.8712 4.98094 33.0255 1.42125 32.6873V15.7004C4.95938 15.3781 7.78594 12.578 8.12344 9.06625H39.5184C39.8672 12.6954 42.8737 15.5635 46.5769 15.7237L46.5778 32.6612ZM46.5778 14.3106C43.6594 14.1541 41.2903 11.9148 40.95 9.06625H45.7716C46.2159 9.06625 46.5778 9.42581 46.5778 9.86734V14.3106Z"
                fill="white"
              />
              <path
                d="M23.9992 13.489C18.0311 13.489 13.1758 18.3133 13.1758 24.2432C13.1758 30.1732 18.0311 34.9974 23.9992 34.9974C29.9673 34.9974 34.8226 30.1732 34.8226 24.2432C34.8226 18.3133 29.9673 13.489 23.9992 13.489ZM23.9992 33.5853C18.8148 33.5853 14.598 29.3954 14.598 24.2442C14.598 19.0929 18.8148 14.9021 23.9992 14.9021C29.1836 14.9021 33.4005 19.0929 33.4005 24.2432C33.4005 29.3935 29.1836 33.5853 23.9992 33.5853Z"
                fill="white"
              />
              <path
                d="M30.3189 21.8325H26.4273V17.9658C26.4273 17.5755 26.1095 17.2598 25.7167 17.2598H22.2855C21.8927 17.2598 21.5748 17.5755 21.5748 17.9658V21.8325H17.6833C17.2905 21.8325 16.9727 22.1483 16.9727 22.5386V25.947C16.9727 26.3373 17.2905 26.653 17.6833 26.653H21.5748V30.5197C21.5748 30.91 21.8927 31.2258 22.2855 31.2258H25.7158C26.1086 31.2258 26.4264 30.91 26.4264 30.5197V26.653H30.318C30.7108 26.653 31.0286 26.3373 31.0286 25.947V22.5386C31.0305 22.1492 30.7117 21.8325 30.3189 21.8325ZM29.6083 25.2409H25.7167C25.3239 25.2409 25.0061 25.5567 25.0061 25.947V29.8136H22.998V25.947C22.998 25.5567 22.6802 25.2409 22.2873 25.2409H18.3958V23.2456H22.2873C22.6802 23.2456 22.998 22.9298 22.998 22.5395V18.6729H25.0061V22.5395C25.0061 22.9298 25.3239 23.2456 25.7167 23.2456H29.6083V25.2409Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="pg-main-info-content">
          <h2 class="pg-main-info-title">Servicios 24/7</h2>
          <p class="pg-main-info-description">
            Personal de emergencia que está disponible las 24 horas del día, los
            siete días de la semana.
          </p>
        </div>
      </div>
    </div>

    <div class="pg-main-services">
      <p class="pg-main-services-intro">Servicios</p>
      <h2 class="pg-main-services-title">Explora nuestros servicios</h2>
      <div class="pg-main-services-container">
        <div class="pg-main-services-card">
          <div class="services-card-section-content">
            <div class="pg-main-info-logo-wrapper">
              <div class="img">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 54 54"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M53 37.6195C53 40.9654 53 44.3113 53 47.6571C52.467 50.216 50.7348 51.5622 48.357 52.2571C46.3882 52.8324 44.4194 53.4169 42.4505 53.9968C39.4617 53.9968 36.4728 53.9968 33.484 53.9968C29.2545 52.7634 25.4754 50.285 20.9749 49.7351C18.4616 49.4267 16.132 48.2715 13.9197 46.9898C3.88713 41.1725 0.987867 28.3597 7.57668 18.7547C8.13724 17.9355 8.39684 17.305 7.85466 16.3984C5.69515 12.7925 3.50807 9.21419 0.255011 6.44821C0.255011 4.72696 -0.420412 2.2072 0.427312 1.48464C1.47261 0.5964 3.78605 1.2016 5.55271 1.16478C5.89732 1.15788 6.23962 1.16478 6.58423 1.16478C7.63182 2.32456 8.49333 4.03661 9.78674 4.47613C10.9354 4.86733 11.7027 2.75027 12.9479 2.12436C13.4878 1.85283 13.9817 1.48694 14.4986 1.16478C14.8501 1.16478 15.2016 1.16478 15.5531 1.16478C15.8242 1.36728 16.0884 1.57899 16.3687 1.76768C19.6585 3.98139 19.9204 6.13066 17.0326 8.70334C15.3142 10.2336 14.3723 11.6557 16.3434 13.6278C16.6398 13.9246 16.7592 14.3941 16.9867 14.7692C18.0848 16.5779 19.8423 16.9207 21.4987 15.6045C22.6772 14.6656 23.9362 13.5956 25.3766 13.4989C28.4665 13.2918 28.7284 10.5627 30.0655 8.79078C30.5089 8.20169 30.0609 7.74146 29.6313 7.48603C27.6326 6.30324 28.5929 5.23781 29.6014 3.99059C30.5548 2.8124 31.9195 2.1934 32.9625 1.16248C33.6655 1.16248 34.3685 1.16248 35.0714 1.16248C36.8634 2.52246 38.5129 4.67863 40.484 5.03301C42.7079 5.43341 44.0173 2.45573 46.0275 1.38799C46.0896 1.35578 46.1079 1.23842 46.1493 1.16018C47.0292 1.16018 47.9068 1.16018 48.7867 1.16018C50.5924 1.93797 51.9639 3.2082 53.0069 4.85812C53.0069 5.56227 53.0069 6.26642 53.0069 6.97057C50.6935 7.75987 49.2461 9.70204 47.422 11.1426C46.2182 12.0929 45.9356 12.9904 46.6961 14.47C48.1824 17.3626 48.8188 20.5404 49.4942 23.7206C50.4798 28.3965 51.8123 32.9942 53 37.6195ZM22.2821 47.6525C21.5239 46.5963 20.9427 45.8369 20.4097 45.043C17.1153 40.137 15.5531 34.7454 15.9758 28.82C16.0287 28.0744 15.9184 27.032 17.1015 27.124C18.1882 27.2092 18.0733 28.1595 18.0848 28.9534C18.1055 30.3594 18.0618 31.7746 18.1882 33.1737C19.0589 42.8362 25.8889 50.5267 34.7613 51.7118C39.2733 52.3147 43.675 51.5967 47.9964 50.1746C49.9629 49.528 50.7463 48.2992 50.8474 46.2995C51.1139 41.0667 50.7049 35.9121 49.2002 30.8887C46.2412 21.0076 39.8476 15.6252 30.4698 15.0062C27.6372 14.8198 24.9148 15.3513 22.8679 17.3188C21.2345 18.8882 19.8974 18.8997 17.839 18.214C12.7365 16.5157 9.46511 18.1795 7.49857 22.9935C3.00035 34.0044 9.98661 46.0049 22.2821 47.6525ZM30.0862 13.0663C32.0619 12.5486 33.8837 14.6219 35.0485 12.1182C36.1443 9.76187 37.3068 10.3441 38.1476 12.0745C39.9809 15.8461 43.6567 17.6709 46.7558 20.9777C45.3176 15.3237 42.933 10.9216 39.294 7.20299C37.9983 5.87753 36.6015 4.67173 34.9612 3.7996C33.4288 2.98499 32.5007 4.15857 31.568 5.0192C30.5755 5.93276 31.6782 6.40679 32.1699 6.85552C33.1233 7.72535 32.8384 8.45251 32.2204 9.35226C31.5312 10.351 30.9982 11.4578 30.0862 13.0663ZM14.5285 14.9878C14.2459 13.4138 12.1002 12.3714 12.4563 10.7606C12.8284 9.08533 14.6571 8.11885 15.9391 6.93146C16.0034 6.87163 16.07 6.8141 16.1389 6.75887C17.051 6.06162 16.9223 5.23091 16.3181 4.46923C15.7116 3.70525 14.8685 3.38309 14.0139 4.05042C13.049 4.8052 12.0588 5.58068 11.2846 6.51725C10.1543 7.88413 9.32267 8.29373 8.29805 6.416C7.80412 5.51165 6.97248 4.78679 6.26489 4.0067C5.24487 2.88144 4.20187 3.26113 3.27374 4.09874C2.34101 4.94096 2.71548 5.73716 3.42306 6.60239C4.97608 8.50544 6.73126 10.3279 7.85466 12.4726C9.387 15.3905 11.025 17.1647 14.5285 14.9878ZM44.7984 10.6064C45.251 10.2221 45.5841 9.94366 45.9104 9.66061C46.8936 8.79999 47.9091 7.97157 48.8487 7.06262C49.5655 6.36767 51.2494 5.92125 50.0249 4.48764C49.0669 3.36468 47.7046 2.85152 46.317 3.88704C45.2028 4.71775 44.1896 5.68423 43.1214 6.57708C42.5677 7.03961 42.4184 7.49524 42.9284 8.11655C43.5717 8.90354 44.1552 9.74115 44.7984 10.6064Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <h3 class="services-card-title">Cardiólogo</h3>
            <p class="services-card-content">
              Integre objetivamente áreas temáticas estratégicas de toda la
              empresa con infraestructuras funcionalizadas.
            </p>
          </div>
          <div class="services-card-section-images">
            <img
              src="/public/images/1.jpg"
              alt="nutri"
              class="services-card-image"
            />
          </div>
        </div>
        <div class="pg-main-services-card">
          <div class="services-card-section-images">
            <img
              src="/public/images/2.jpg"
              alt="nutri"
              class="services-card-image"
            />
          </div>
          <div class="services-card-section-content">
            <div class="pg-main-info-logo-wrapper">
              <div class="img">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 62 59"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.1521 44.52C37.1521 44.85 37.0921 45.2 37.1621 45.52C37.8421 48.66 35.3521 52.69 38.7321 54.91C42.7021 57.52 47.6421 57.66 52.1321 56.89C58.7921 55.75 60.4521 52.87 60.6921 45.52C60.9321 37.78 59.2221 30.59 55.1421 24.03C50.5921 16.72 45.2721 14.57 38.1521 17.02"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M24.5621 44.52C24.5621 44.85 24.6221 45.2 24.5521 45.52C23.8721 48.66 26.3621 52.69 22.9821 54.91C19.0121 57.52 14.0721 57.66 9.58206 56.89C2.92206 55.75 1.26206 52.87 1.02206 45.52C0.782057 37.78 2.49206 30.6 6.57206 24.03C11.1221 16.72 16.4421 14.57 23.5621 17.02"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M43.1521 29.02C36.1421 25.48 33.7621 19.51 34.1321 12.02C34.2621 9.36 34.0621 6.68 34.1821 4.02C34.2821 1.78 33.2521 1 31.1521 1C29.0521 1 28.1421 1.79 28.1021 4.02C28.0321 8.53 28.0021 13 27.4621 17.56C26.7521 23.48 23.4221 26.3 19.1521 29.02"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M40.6521 33.52C37.4421 32.89 35.3921 29.97 31.6621 29.82C27.5121 29.65 25.0321 32.5 21.6521 33.52"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M24.6521 33.02C25.9321 39.13 22.3321 42.39 17.6521 45.02"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M37.6521 33.02C36.3721 39.13 39.9721 42.39 44.6521 45.02"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <h3 class="services-card-title">Pulmonar</h3>
            <p class="services-card-content">
              Produzca de forma interactiva tecnologías premium donde estén
              disponibles vectores de calidad interdependientes.
            </p>
          </div>
        </div>
        <div class="pg-main-services-card">
          <div class="services-card-section-content">
            <div class="pg-main-info-logo-wrapper">
              <div class="img">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 58 53"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.701904 25.2911C2.3715 19.7729 6.15779 16.728 11.591 14.883C23.7083 10.7685 35.6784 6.2351 47.7108 1.88284C52.3856 0.19627 54.1741 0.666019 57.2982 4.35044C57.2982 5.86156 57.2982 7.36702 57.2982 8.87814C55.821 10.9326 53.7836 12.0928 51.4009 12.8738C47.5636 14.1359 43.7887 15.5905 39.9741 16.9375C38.7346 17.3732 37.7498 17.6732 38.7969 19.3824C40.2061 21.6802 38.4177 24.3289 38.8874 26.389C39.4081 28.6755 40.9702 30.8828 40.1665 33.2994C39.476 35.3822 39.6458 37.1254 40.2231 39.1855C41.3097 43.068 39.4194 46.1921 35.5879 47.5787C31.4337 49.0842 27.2739 50.5726 23.0971 52.0158C15.117 54.7664 8.61973 51.6649 5.72766 43.7981C4.0807 39.3156 2.37715 34.8558 0.701904 30.3847C0.701904 28.6868 0.701904 26.989 0.701904 25.2911ZM17.9128 50.799C19.4749 50.8952 20.9124 50.4311 22.3387 49.9274C26.3287 48.5182 30.3187 47.092 34.2975 45.6544C38.129 44.2735 39.3742 41.2625 37.4442 37.6177C36.7877 36.3726 36.8726 35.552 37.4329 34.2899C38.4516 32.0034 38.9836 29.5471 36.2048 27.8492C34.8238 27.0059 35.6162 26.2589 36.2331 25.342C37.8291 22.9593 37.597 20.4238 35.7973 18.9806C35.186 18.4882 33.9692 18.4939 34.1843 17.3167C34.3993 16.1621 35.5822 16.1508 36.4085 15.8451C41.6097 13.9152 46.8335 12.0362 52.063 10.1799C54.3156 9.38185 55.6626 8.03486 54.9325 5.51632C54.3835 3.61469 52.0857 2.73744 49.7369 3.57507C36.3632 8.36312 22.9839 13.1285 9.6611 18.0467C4.22785 20.0559 1.74328 25.4439 3.5487 30.9167C5.0485 35.4727 6.65583 40.0004 8.44428 44.4489C10.1139 48.637 13.487 50.5896 17.9128 50.799Z"
                    fill="white"
                  />
                  <path
                    d="M57.2982 28.6869C56.6813 29.4962 56.1493 30.3904 55.4248 31.0922C53.5628 32.9089 50.8292 33.1806 48.6899 31.7431C46.4317 30.2263 45.4469 28.0813 46.2675 25.4099C47.4278 21.6236 49.3634 18.1882 51.5367 14.4359C54.1514 17.8656 55.3739 21.7765 57.2982 25.2911C57.2982 26.423 57.2982 27.5549 57.2982 28.6869ZM51.6329 19.19C50.1784 21.5105 49.2558 23.6272 48.5088 25.8287C47.9541 27.4757 48.4125 28.8114 49.8105 29.7848C51.0216 30.6225 52.3234 30.6055 53.5119 29.7565C54.8928 28.7718 55.323 27.4248 54.7513 25.7835C54.0099 23.6385 53.1327 21.567 51.6329 19.19Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <h3 class="services-card-title">Radiología</h3>
            <p class="services-card-content">
              The point of using Lorem Ipsum that it has a more-or-less
              distribution of look like readable English.
            </p>
          </div>
          <div class="services-card-section-images">
            <img
              src="/public/images/3.jpg"
              alt="nutri"
              class="services-card-image"
            />
          </div>
        </div>
        <div class="pg-main-services-card">
          <div class="services-card-section-images">
            <img
              src="/public/images/4.jpg"
              alt="nutri"
              class="services-card-image"
            />
          </div>
          <div class="services-card-section-content">
            <div class="pg-main-info-logo-wrapper">
              <div class="img">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 54 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M33.9827 58C28.9541 58 23.9313 58 18.9027 58C17.6383 57.1648 15.8693 57.0082 15.0689 55.593C14.0307 53.7544 12.4531 53.1048 10.5275 52.5306C6.51388 51.33 4.52448 48.0356 5.33648 44.0858C5.63228 42.659 5.23208 42.0326 4.15908 41.2728C1.10828 39.1094 -0.556316 36.0238 0.957484 32.5148C2.21608 29.5916 2.17548 27.1034 0.980684 24.36C0.679084 23.6698 0.632684 22.8578 0.516684 22.098C-0.498316 15.3932 2.51768 10.0166 8.67148 7.4994C9.19348 7.2848 9.91848 7.0934 10.1273 6.6758C12.0993 2.8072 15.6837 1.2644 19.4827 0C24.5113 0 29.5341 0 34.5627 0C41.1283 1.5312 44.5445 7.6966 50.1937 10.643C51.9337 11.5536 52.5891 13.8272 53.1517 15.8166C54.2247 19.6214 53.5635 23.287 52.2991 26.8946C51.9105 27.9966 51.6089 28.884 52.2585 30.131C54.7757 34.9682 54.0101 38.1872 49.7065 41.4526C48.8539 42.0964 48.4015 42.572 48.6161 43.7784C49.4687 48.5518 47.9027 50.692 43.1351 51.8172C42.1665 52.0434 40.8035 51.6316 40.2699 52.7974C38.9823 55.564 36.4883 56.7704 33.9827 58ZM28.1827 29.1566C28.1827 36.598 28.1595 44.0336 28.1943 51.475C28.2059 54.3576 29.3775 55.68 31.8251 55.6452C33.7159 55.6162 35.4153 54.9492 36.8537 53.7022C38.1007 52.6234 38.4603 51.7534 36.6333 50.7094C34.0813 49.2478 33.1185 46.7132 32.8749 43.8886C32.7995 43.0302 32.7067 41.9862 33.9189 41.876C34.9455 41.7832 35.0441 42.6648 35.1717 43.4652C35.3167 44.4106 35.4327 45.4024 35.7981 46.2724C37.1495 49.4914 40.4555 50.6108 44.0631 49.155C46.7137 48.0878 47.3575 46.4232 45.9423 42.978C45.2405 41.267 45.8727 40.9016 47.2241 40.2868C50.5069 38.7904 51.9337 36.0296 51.1797 33.1122C50.7853 31.581 50.3677 30.5544 48.6103 32.1494C46.5281 34.0344 43.8253 34.568 41.0877 34.7536C40.1655 34.8174 38.8779 35.061 38.7909 33.7154C38.7039 32.3234 40.0089 32.5148 40.9369 32.4626C45.0143 32.2364 48.0303 30.5544 49.9211 26.7322C53.5113 19.4764 50.8085 11.9422 43.4483 9.3496C42.7465 9.1002 42.3405 8.8276 42.0273 8.1374C40.5309 4.8546 37.7121 3.335 34.3597 2.5984C29.7371 1.5834 28.2465 2.7028 28.2059 7.424C28.1479 14.6624 28.1943 21.9066 28.1827 29.1566ZM25.8627 29.0116C25.8627 28.1416 25.8627 27.2716 25.8627 26.4074C25.8569 19.8418 25.9149 13.282 25.8105 6.7164C25.7467 2.9116 24.4475 1.856 20.7181 2.407C16.9365 2.9754 13.6711 4.466 11.9833 8.2186C11.7223 8.7986 11.3859 9.0712 10.7885 9.309C3.58488 12.1742 1.17788 17.1854 3.34708 24.6326C3.77048 26.0942 4.08368 27.115 5.96868 25.8448C9.23408 23.6466 12.7779 23.9946 16.1767 25.6012C17.3309 26.1464 19.5639 26.6452 18.6069 28.4316C17.7253 30.0672 16.5537 28.0082 15.4749 27.7356C14.9181 27.5964 14.4019 27.3122 13.8509 27.144C9.69228 25.9028 5.09868 27.9386 3.45148 31.7434C1.83908 35.467 3.05708 38.1176 7.68548 40.6174C8.56708 41.093 8.70048 41.4004 8.34668 42.3516C6.54288 47.212 8.20169 50.199 13.2535 50.9124C14.7499 51.1212 15.2951 51.7302 15.8809 52.9598C16.9075 55.1232 20.5093 56.3122 23.2585 55.564C25.7873 54.8738 25.8975 52.867 25.8859 50.7326C25.8395 43.4942 25.8627 36.2558 25.8627 29.0116Z"
                    fill="white"
                  />
                  <path
                    d="M44.2081 23.1593C39.9741 22.8983 36.1403 20.0215 35.3341 16.4777C35.1195 15.5381 34.8179 14.3723 36.0765 14.0475C37.2481 13.7517 37.3003 14.8653 37.5613 15.7121C38.5995 19.1225 41.2153 20.4681 44.5213 20.8451C45.4493 20.9495 46.7543 20.7929 46.5745 22.1849C46.4121 23.4783 45.1419 23.1419 44.2081 23.1593Z"
                    fill="white"
                  />
                  <path
                    d="M18.8737 44.1903C18.8853 45.0603 19.0071 46.1217 17.8645 46.2493C16.6697 46.3827 16.6349 45.3329 16.5479 44.4513C16.1941 40.7857 14.7325 37.9843 10.7943 37.1549C9.91847 36.9693 9.30947 36.5517 9.64007 35.5889C9.97067 34.6145 10.8233 34.8059 11.5889 34.9277C15.5039 35.5599 18.8099 39.7649 18.8737 44.1903Z"
                    fill="white"
                  />
                  <path
                    d="M14.0307 18.5368C13.1549 18.5368 12.1283 18.6064 12.0819 17.3942C12.0471 16.385 12.9403 16.2864 13.7407 16.211C16.1825 15.9848 18.2995 15.312 18.9781 12.5338C19.1231 11.9248 19.6509 11.5014 20.3005 11.6986C21.2285 11.9828 21.2575 12.7832 21.1241 13.601C20.7123 16.153 17.2787 18.5426 14.0307 18.5368Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <h3 class="services-card-title">Urología</h3>
            <p class="services-card-content">
              Matriz única valor económicamente sólido a través de la tecnología
              cooperativa de manera competente.
            </p>
          </div>
        </div>
        <div class="pg-main-services-card">
          <div class="services-card-section-content">
            <div class="pg-main-info-logo-wrapper">
              <div class="img">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 58 52"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M57.1084 12.6595C56.3889 13.0193 56.6306 13.8176 56.327 14.3742C55.5512 15.7796 55.5906 18.1913 53.5106 18.107C51.0595 18.0114 48.8727 16.7353 47.3604 14.6215C46.5621 13.5028 47.5178 12.9687 48.0912 12.2604C49.2268 10.855 51.4137 9.14036 49.8508 7.56067C48.2374 5.92476 47.0063 8.74684 45.5165 9.40458C40.3333 11.6926 38.1352 16.1 36.2801 21.1258C35.077 24.3808 34.3518 27.1466 35.9484 30.4466C37.6686 33.9995 36.7579 37.811 36.1452 41.5044C35.701 44.1804 35.1614 46.8394 34.5655 49.4872C34.3462 50.4823 34.4811 52.1744 32.8677 51.8315C31.4735 51.5335 32.1875 50.1281 32.3561 49.178C32.9689 45.6757 33.576 42.1734 34.2788 38.688C34.914 35.5454 34.6498 32.5322 33.2612 29.6483C32.0188 27.0792 32.2325 24.5888 33.4636 22.0927C34.8747 19.2425 36.2801 16.3755 36.8704 13.2105C37.0896 12.0299 37.871 11.479 38.8436 11.0405C41.2609 9.94988 43.3522 8.3983 45.3366 6.6612C47.7539 4.54182 50.0532 4.227 51.5879 5.69989C53.044 7.09407 52.8641 9.78123 51.3125 12.1929C50.8796 12.8619 49.4011 13.233 50.2612 14.3742C50.8121 15.105 51.7903 15.5884 52.7348 15.521C53.9153 15.4367 53.9772 14.2449 54.2245 13.4072C54.5393 12.3391 54.8035 11.2091 54.8092 10.1073C54.8204 7.30207 54.2976 4.54744 51.6217 3.05769C49.1819 1.69724 46.7645 2.81596 44.8363 4.31133C40.9517 7.32456 37.337 7.85299 33.1094 4.78355C30.4279 2.83845 27.0999 3.06894 24.3846 5.03653C20.8148 7.62251 17.5205 7.60002 14.1419 4.88474C13.8495 4.64863 13.5235 4.46312 13.203 4.26636C9.58267 2.0233 6.8955 1.96146 5.04597 4.07522C2.85351 6.58249 2.47124 12.6708 4.37137 14.9813C5.46197 16.308 6.40642 15.1499 7.31713 14.7227C8.62136 14.1156 7.81184 13.4578 7.24967 12.8282C6.94048 12.4796 6.65939 12.0974 6.41766 11.6982C4.97851 9.33712 5.01786 6.6893 6.63691 5.54248C8.8125 4.00214 10.7014 4.95782 12.4554 6.47006C13.2368 7.14466 13.9282 8.08348 14.839 8.40954C22.4282 11.1192 22.3664 18.804 25.3571 24.482C25.9193 25.5445 25.8631 26.9499 25.2728 28.0461C22.3102 33.5497 23.6819 39.1658 24.7331 44.7763C25.0592 46.5246 25.4302 48.2617 25.8125 49.9988C25.9924 50.8027 26.0092 51.6066 25.1323 51.8821C24.1372 52.1913 23.7943 51.3199 23.6762 50.5891C22.4339 43.0279 19.162 35.523 22.9792 27.7987C23.7718 26.1966 23.2096 24.6843 22.5238 23.2227C21.2139 20.4287 19.8872 17.6404 19.1452 14.6215C18.9934 14.0031 18.8697 13.3566 18.1501 13.0306C15.2268 11.6926 12.7421 9.70815 10.291 7.66186C9.63327 7.11093 8.79564 6.69493 8.01984 7.44261C7.38459 8.05538 7.60384 8.8649 7.98049 9.52264C8.48644 10.4052 8.96429 11.4059 9.72322 12.0299C11.494 13.5028 10.9712 14.6777 9.52083 15.8808C9.16105 16.1787 8.77877 16.4542 8.38525 16.7072C4.37137 19.2482 3.27514 18.8603 1.65609 14.3854C1.44809 13.7951 1.6055 13.0249 0.891541 12.6595C0.891541 10.7875 0.891541 8.90987 0.891541 7.03785C1.10516 6.64995 1.36376 6.27892 1.53241 5.86854C3.74174 0.381769 7.64881 -1.11922 12.9613 1.53422C13.962 2.03455 14.9458 2.60234 15.8227 3.28256C18.2288 5.13772 20.4157 5.04777 22.9623 3.29943C26.875 0.606637 31.1194 0.612259 35.0321 3.29943C37.5787 5.04777 39.6587 4.96907 42.1828 3.29943C49.7946 -1.72074 53.0946 -0.832516 57.1084 7.03785C57.1084 8.91549 57.1084 10.7875 57.1084 12.6595Z"
                    fill="white"
                  />
                  <path
                    d="M21.8267 9.15154C26.7794 6.52621 31.2543 6.50935 35.9203 9.02786C31.8333 10.2927 31.1531 13.7782 30.8551 17.1456C30.366 22.6829 30.0287 28.1416 30.8945 33.8308C31.749 39.43 30.4728 45.3608 30.1299 51.1456C30.085 51.8932 29.5846 52.0001 28.9662 52.0001C28.3141 52.0001 27.8644 51.7864 27.87 51.0725C27.8925 44.4895 26.3465 38.0133 27.5102 31.301C28.5952 25.0553 27.9487 18.6241 26.0261 12.4627C25.4471 10.6357 23.9742 9.64063 21.8267 9.15154Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <h3 class="services-card-title">Neurología</h3>
            <p class="services-card-content">
              Comunique rápidamente la tecnología habilitada y las habilidades
              de liderazgo llave en mano para el médico.
            </p>
          </div>
          <div class="services-card-section-images">
            <img
              src="/public/images/4.webp"
              alt="nutri"
              class="services-card-image"
            />
          </div>
        </div>
        <div class="pg-main-services-card">
          <div class="services-card-section-images">
            <img
              src="/public/images/5.jpg"
              alt="nutri"
              class="services-card-image"
            />
          </div>
          <div class="services-card-section-content">
            <div class="pg-main-info-logo-wrapper">
              <div class="img">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 59 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M44.0322 51.3722C49.444 47.7496 52.5941 43.2072 54.314 37.6568C56.3112 31.2054 56.9727 24.7351 54.1565 18.2901C51.5042 12.223 43.8747 6.82376 37.0642 12.0151C35.8482 12.9412 35.0733 12.2734 34.7142 11.0953C33.744 7.96409 33.4542 4.7258 33.4353 1.46232C33.429 0.655896 33.7944 -0.0245223 34.7079 0.000678355C35.6466 0.025879 35.8419 0.769299 35.8986 1.55052C35.9238 1.96633 35.9112 2.39474 35.9679 2.81055C36.2137 4.6754 35.886 7.01276 36.8878 8.2854C38.1163 9.83524 39.9749 7.66168 41.6633 7.51678C45.4623 7.18287 48.7195 8.3043 51.5483 10.7173C56.5317 14.9699 58.4343 20.6085 58.5226 26.9528C58.7116 40.7187 51.4727 52.0968 39.8426 56.2045C31.1483 59.2789 23.1219 58.3969 16.2547 51.6872C16.0279 51.4667 15.7885 51.2651 15.5554 51.0509C12.2289 48.0899 11.1642 48.2348 9.72775 52.5693C8.76383 55.4862 6.96198 55.6501 4.63092 55.0893C1.19103 54.264 0.170402 52.3929 1.44304 49.1735C2.24946 47.1322 3.08108 45.0721 4.18991 43.1883C7.22659 38.0222 11.0445 36.6362 16.702 38.5577C19.0961 39.3704 21.4461 40.1705 24.0165 40.2209C26.65 40.2713 28.4267 39.1058 29.4725 36.7621C31.3877 32.4654 30.8144 27.9104 30.7703 23.4184C30.764 22.99 30.3167 22.4986 29.9639 22.1458C24.4008 16.5512 23.733 9.34383 23.3235 2.05453C23.2668 1.07801 23.3613 -0.011922 24.6717 0.0447795C25.7554 0.0951809 25.7932 1.10321 25.8184 1.96003C25.9318 5.32432 26.2657 8.65711 27.0784 11.9269C27.7714 14.699 28.5779 17.6537 30.8018 19.4241C34.752 22.5679 33.1644 26.6882 33.2841 30.4557C33.3912 34.0531 32.5848 37.5749 30.0332 40.3784C28.5464 42.0165 26.6122 42.6969 24.4008 42.741C21.2886 42.7977 18.4283 41.8275 15.5302 40.8636C11.5485 39.5405 9.29304 40.328 6.81708 43.7112C5.37434 45.6832 4.63722 47.9953 3.7615 50.2382C3.35199 51.284 3.50319 52.0653 4.68762 52.4559C5.75235 52.8087 6.75408 53.0418 7.30219 51.6872C7.42189 51.3974 7.4849 51.0824 7.6172 50.7989C10.0617 45.6391 12.777 45.0406 17.0233 49.0601C17.0296 49.0538 27.3682 61.0556 44.0322 51.3722Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <h3 class="services-card-title">Hipnoterapia</h3>
            <p class="services-card-content">
              Servicios y ayuda a completar y presentar la documentación
              necesaria en las oficinas estatales y del condado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>